
<div class="error">

  <div class="elink"><a href="<%= error.href %>">GET <%= error.href %></a></div>

  <br/>

  <div>fei : <span class="fei"><%= error.fei.expname %> <%= error.fei.expid %></div>
  <div>call : <span class="message"><%= error.message %></div>
  <div>date : <span class="date"><%= error.date %></div>
  <div>text : <span class="text"><%= error.stacktrace.split("\n").first %></div>

  <br/>

  <div>
    <form action="<%= error.href %>" method="post" enctype="multipart/form-data">
      <% if alone %>
      workitem attributes :<br/>
      <textarea name="workitem_attributes" cols="60" rows="12"><%= error.workitem.attributes.to_json %></textarea>(json)<br/>
      <% end %>

      <input type="hidden" name="_method" value="DELETE" />

      <br/>

      replay at error :
      <input type="submit" value="DELETE <%= error.href %>" />
    </form>
  </div>

</div>

