
<%= render_fluo_head %>

<% if params[:wfid] and not params[:expid] %>
<div class="explanation">
All the expressions that compose the <%= params[:wfid] %> process instance.
</div>
<% end %>

<!-- the expressions -->

<div class="expressions">
  <% expressions.each do |fexp| %>
    <%= render_expression_html(fexp, false) %>
  <% end %>
</div>

<br/>

<div>process : <%= rlink('processes', expressions.first.fei.wfid) %></div>

<%= render_fluo_foot(expressions.first.fei.wfid) %>

