
<%= render_fluo_head if detailed %>

<div class="econtainer">

  <div class="esymbol">
    <img src="<%= expression_symbol_src(expression) %>" />
  </div>

  <% if detailed %>
  
  <div class="expression">
  
  <% else %>
  
  <div 
    class="expression" 
    onmouseover="FluoCan.highlight('fluo', '<%= expression.fei.expid %>');"
    onmouseout="FluoCan.highlight('fluo', null);"
  >
  
  <% end %>
  
    <div class="expression_link"><%= rlink(expression) %></div>
  
    <div>fei : <span class="expression_fei"><%= expression.fei.to_s %></div>
    <div>class : <span class="expression_class"><%= expression.class.name %></div>
    <div>name : <span class="expression_name"><%= expression.fei.expname %></div>
    <div>apply time : <span class="expression_apply_time"><%= display_time(expression, :apply_time) %></div>
  
    <% if detailed %>
  
      <%= some_javascript %>
  
      <div>process : <%= rlink('processes', expression.fei.wfid) %></div>
      <div>process expressions : <%= rlink('expressions', expression.fei.wfid) %></div>
  
      <% if expression.parent_id %>
        <div>parent : <%= rlink(expression.parent_id) %></div>
      <% end %>
  
      <% if expression.environment_id %>
        <div>environment : <%= rlink(expression.environment_id) %></div>
      <% end %>
  
      <% if expression.children %>
        <div>
          children :
          <% expression.children.each do |eid| %>
            <% next unless eid.respond_to?(:link) %>
            <div>&nbsp;&nbsp;<%= rlink(eid) %></div>
          <% end %>
        </div>
      <% end %>
  
      <% if expression.raw_representation %>
      <div id="rawrep">
        raw :
        <div>
          json :
          <span class="expression_raw_representation"><%= expression.raw_representation.to_json %></span>
        </div>
  
        <% if expression.raw_rep_updated %>
        <div>updated :
        <span class="expression_raw_rep_updated"><%= expression.raw_rep_updated.to_json %></span></div>
        <% end %>

        <div>edition : <a href="<%= expression.href %>/raw">GET <%= expression.href %>/raw</a></div>
      </div>
      <% end %>
  
      <div id="yaml">yaml : <a href="<%= expression.href %>?format=yaml">GET <%= expression.href %>?format=yaml</a><span id="edit_button"> (<a href="" onclick="show('put_yaml'); hide('edit_button'); return false;">PUT</a>)</span></div>
  
      <div id="put_yaml" style="display: none">
        <form action="<%= expression.href %>" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="PUT" />
          <textarea name="yaml" cols="80" rows="24"><%= expression.to_yaml %></textarea>
          <input type="submit" value="PUT <%= expression.href %>" />
          <a href="" onclick="show('edit_button'); hide('put_yaml');">cancel</a>
        </form>
      </div>
  
      <div>
        <form action="<%= expression.href %>" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="DELETE"/>
          terminate (cancel) expression :
          <input type="submit" value="DELETE <%= expression.href %>" />
  
          <% if expression.fei.expid == '0' %>
            <br/>(will terminate (cancel) the whole process instance)
          <% end %>
        </form>
      </div>
  
    <% end %>
  
  </div>

  <div style="clear: both;"></div>

</div>

<%= render_fluo_foot(expression.fei.wfid, expression.fei.expid) if detailed %>

