
<div class="expression">

    <div class="expression_link"><a href="<%= @expression.link %>">GET <%= @expression.link %></a></div>
    <div>fei : <span class="expression_fei"><%= @expression.fei.to_s %></div>
    <div>class : <span class="expression_class"><%= @expression.class.name %></div>
    <div>name : <span class="expression_name"><%= @expression.fei.expname %></div>
    <div>apply time : <span class="expression_apply_time"><%= OpenWFE::Xml.to_httpdate(@expression.apply_time) %></div>

    <% if @detailed %>

        <div>process expressions : <a href="/expressions/<%= @expression.fei.wfid %>">GET /expressions/<%= @expression.fei.wfid %></a></div>

        <br/>

        <% if @expression.parent_id %>
            <div>parent : <a href="<%= @expression.parent_id.link %>">GET <%= @expression.parent_id.link %></a></div>
        <% end %>

        <% if @expression.environment_id %>
            <div>environment : <a href="<%= @expression.environment_id.link %>">GET <%= @expression.environment_id.link %></a></div>
        <% end %>

        <% if @expression.children %>
            children :
            <% @expression.children.each do |eid| %>
                <div>&nbsp;&nbsp;<a href="<%= eid.link %>">GET <%= eid.link %></a></div>
            <% end %>
        <% end %>

        <% if @expression.raw_representation %>
            <br/>
            raw representation :
            <div class="expression_raw_representation"><%= @expression.raw_representation.to_json.to_s %></div>
        <% end %>

        <% if @expression.raw_rep_updated %>
            raw representation (updated) :
            <div class="expression_raw_rep_updated"><%= @expression.raw_rep_updated.to_json.to_s %></div>
        <% end %>

        <br/>

        <div>yaml : <a href="<%= @expression.link %>/yaml">GET <%= @expression.link %>/yaml</a></div>

    <% end %>
</div>

