
<html>

  <head>

    <title><%= request.path_info %></title>

    <link rel="alternate" type="application/xml" href="<%= "#{request.scheme}://#{request.host}:#{request.port}#{request.fullpath}" %>" />
    <!-- TODO : add application/json alt link -->

    <link rel="stylesheet" type="text/css" media="screen" href="/css/application.css" />

    <!--link rel="stylesheet" type="text/css" media="screen" href="/css/<%= request.path_info.split('/')[1] %>.css" /-->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/<%= template.to_s %>.css" />

    <% if template == :erepresentation %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/fluo-tred.css" />
    <% end %>

    <% if request.path_info == '/history' %>
    <link rel="alternate" href="/history.atom" type="application/atom+xml" title="ruote-rest /history feed"/>
    <% end %>

  </head>

<body>

  <div class="header">
    <div class="h_left" style="float: left;">
      <a href="/service">ruote-rest</a> a web envelope around the <a href="http://openwferu.rubyforge.org#rr">ruote</a> workflow engine
    </div>
    <div class="h_right" style="float: right;">
      <span><%= response.status %></span>
    </div>
    <div style="clear: both;"></div>
  </div>

<hr/>

