
<%
    regex, part = @participant
    link = "/participants/#{CGI.escape regex.original_string}"
%>
<div class="participant">

    <div class="participant_link"><a href="<%= link %>">GET <%= link %></a></div>

    <div>regex : <span class="participant_regex"><%= regex.original_string %></span></div>
    <div>class : <span class="participant_class"><%= part.class.name %></span></div>

    <form id="remove" action="<%= link %>" method="post">

        <input type="hidden" name="_method" value="DELETE"/>

        remove : 
        <input type="submit" value="DELETE <%= link %>" />
    </form>

</div>

