
<div class="process">

  <div style="float: left; width: 63%;">

    <div class="process_link"><a href="<%= @process.href %>">GET <%= @process.href %></a></div>
  
    <br/>
  
    <div>wfid : <span class="process_wfid"><%= @process.wfid %></div>
    <div>
      process : <span class="process_wfname"><%= @process.wfname %></span>
      <span class="process_wfrevision"><%= @process.wfrevision %>
    </div>
    <div>launched : <span class="process_launch_time"><%= display_time(@process, :launch_time) %></div>
    <div>paused : <span class="process_paused"><%= @process.paused %></div>
    <div>tags : <span class="process_tags"><%= @process.tags.join(", ") %></div>
    <div>branches : <span class="process_branches"><%= @process.branches %></div>
    <div>all expressions : 
      <a href="/expressions/<%= @process.wfid %>">GET /expressions/<%= @process.wfid %></a>
    </div>
    <div>representation (json) : 
      <a href="/processes/<%= @process.wfid %>/representation">GET /processes/<%= @process.wfid %>/representation</a> (<a href="/processes/<%= @process.wfid %>/representation?plain=true">plain/text</a>)
    </div>
    <div>workitems : <a href="/workitems?wfid=<%= @process.wfid %>">GET /workitems/<%= @process.wfid %></a></div>
  
    <% if @detailed %>
  
      <br/>
  
      <div class="process_variables">
        Process variables :
        <% @process.variables.each do |k, v| %>
          <div class="process_var">
            <span class="process_var_key"><%= k.to_s %></span>
            =&gt;
            <span class="process_var_value"><%= v.to_json %></span>
          </div>
        <% end %>
      </div>
  
      <br/>
  
      <div class="process_scheduled_jobs">
        Scheduled jobs :
        <% @process.scheduled_jobs.each do |sj| %>
          <div class="process_scheduled_jobs">
            <%= sj.class.name %> / info : <%= sj.schedule_info %> / next time : <%= sj.next_time.to_s %><br/>
          </div>
        <% end %>
      </div>
  
      <br/>
  
      <div class="process_expression">
        Active expressions :
        <% @process.expressions.each do |fexp|
            fei = fexp.fei
        %>
          <div class="process_exp">
            <%= fei.expname + " " + fei.expid %> : <a href="<%= fei.href %>">GET <%= fei.href %></a>
          </div>
        <% end %>
      </div>
  
      <br/>
  
      <div class="process_errors">
        Errors :
        <% @process.errors.each do |k, error| %>
          <div class="process_err">
            <span class="process_err_fei">at <%= error.fei.expname %> <%= error.fei.expid %></span>
            :
            <span class="process_err_trace"><%= error.stacktrace.split("\n")[0] %></span>
          </div>
        <% end %>
        <%= @process.errors.size == 0 ? "none" : "" %>
      </div>
  
      <br/>
  
      <div class="process_representation">
        Representation :<br/>
        <span class="process_rep"><%= @process.process_stack.representation.to_json.to_s %></span>
      </div>
  
      <br/>
  
      <div>
        <form action="<%= @process.href %>" method="post" enctype="multipart/form-data">
  
          <input type="hidden" name="_method" value="PUT"/>
          <input type="hidden" name="paused" value="<%= ( ! @process.paused?) %>" />
  
          <%= @process.paused? ? "resume" : "pause" %> process :
          <input type="submit" value="PUT <%= @process.href %>"/> (with a 'paused=<%= !@process.paused? %>' flag)
        </form>
      </div>
  
      <div>
        <form action="<%= @process.href %>" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="DELETE"/>
  
          terminate process :
          <input type="submit" value="DELETE <%= @process.href %>" />
        </form>
      </div>
  
    <% else %>
  
      <div>errors : 
        <span class="process_errors_count"><%= @process.errors.size %>
      </div>
  
    <% end %>
  </div>

  <% if @detailed %><!-- fluo ? -->

  <script src="/js/fluo-json.js"></script>
  <script src="/js/fluo-can.js"></script>

  <div style="float: right;">

    <canvas id="fluo" width="50" height="50"></canvas>
    <script>
      FluoCan.renderFlow('fluo', <%= @process.process_stack.representation.to_json.to_s %>, []);
      FluoCan.crop('fluo');
    </script>

  </div>

  <% end %><!-- end of fluo -->

  <div style="clear: both;"></div>

</div>

