
<%= render_fluo_head if detailed %>

<div class="process">

  <div class="link"><%= rlink(process) %></div>

  <div>wfid : <span class="wfid"><%= process.wfid %></div>
  <div>
    process : <span class="wfname"><%= process.wfname %></span>
    <span class="wfrevision"><%= process.wfrevision %>
  </div>
  <div>launched : <span class="launch_time"><%= display_time(process, :launch_time) %></div>
  <div>paused : <span class="paused"><%= process.paused %></div>
  <div>tags : <span class="tags"><%= process.tags.join(", ") %></div>
  <div>all expressions : <%= rlink('expressions', process.wfid) %></div>
  <div>workitems : <%= rlink('workitems', { 'wfid' => process.wfid }) %></div>

  <% if detailed %>

    <div class="details">

      <div>branches : <span class="branches"><%= process.branches %></div>

      <div class="variables">
        Process variables : <%= rlink('processes', process.wfid, 'variables.json') %> (<a href="/processes/<%= process.wfid %>/variables.json?plain=true">plain/text</a>)
        <% process.variables.each do |k, v| %>
          <div class="var">
            <span class="var_key"><%= k.to_s %></span>
            =&gt;
            <span class="var_value"><%= v.to_json %></span>
          </div>
        <% end %>
      </div>

      <div class="scheduled_jobs">
        Scheduled jobs :
        <% process.scheduled_jobs.each do |sj| %>
          <div class="scheduled_jobs">
            <%= sj.class.name %> / info : <%= sj.schedule_info %> / next time : <%= sj.next_time.to_s %><br/>
          </div>
        <% end %>
      </div>

      <div class="expression">
        Active expressions :
        <% process.expressions.each do |fexp|
            fei = fexp.fei
        %>
          <div 
            class="exp"
            onmouseover="FluoCan.highlight('fluo', '<%= fei.expid %>');"
            onmouseout="FluoCan.highlight('fluo', null);"
          >
            <%= fei.expname + " " + fei.expid %> : <%= rlink(fexp) %>
          </div>
        <% end %>
      </div>

      <div class="errors">
        Errors :
        <% process.errors.each do |k, error| %>
          <div class="err">
            <span class="err_fei">at <%= error.fei.expname %> <%= error.fei.expid %></span>
            :
            <span class="err_trace"><%= error.stacktrace.split("\n")[0] %></span>
          </div>
        <% end %>
        <%= process.errors.size == 0 ? "none" : "" %>
      </div>

      <div class="representation">
        Representation : <%= rlink('processes', process.wfid, 'representation.json') %> (<a href="/processes/<%= process.wfid %>/representation.json?plain=true">plain/text</a>)
        <div class="process_rep"><%= process.all_expressions.representation.to_json %></div>
      </div>

      <div>
        <form action="<%= process.href %>" method="post" enctype="multipart/form-data">

          <input type="hidden" name="_method" value="PUT"/>
          <input type="hidden" name="paused" value="<%= ( ! process.paused?) %>" />

          <%= process.paused? ? "resume" : "pause" %> process :
          <input type="submit" value="PUT <%= process.href %>"/> (with a 'paused=<%= !process.paused? %>' flag)
        </form>
      </div>

      <div>
        <form action="<%= process.href %>" method="post" enctype="multipart/form-data">
          <input type="hidden" name="_method" value="DELETE"/>

          terminate (cancel) process :
          <input type="submit" value="DELETE <%= process.href %>" />
        </form>
      </div>

    </div>

  <% else %>

    <div>errors : 
      <span class="errors_count"><%= process.errors.size %>
    </div>

  <% end %>

</div>

<%= render_fluo_foot(process.all_expressions.representation, nil, process.expressions.collect { |e| e.fei.expid }) if detailed %>

