
<%= render_fluo_head if params[:wfid] %>

<h4>GET /workitems</h4>

<div class="explanation">
<% if params[:wfid] %>
workitems of the <a href="/processes/<%= params[:wfid] %>"><%= params[:wfid] %> process instance</a>
<% elsif params[:q] %>
workitems that contain the string '<%= params[:q] %>'
<% else %>
workitems in the worklist
<% end %>
</div>

<% workitems.each do |wi| %>
  <%= render_workitem_html wi, false %>
<% end %>

<br/>

<hr/>

<form action="/workitems">
  search :
  <input type="text" name="q" value="<%= params[:q] %>" />
  <input type="submit" value="GET /workitems?q=..." />
</form>

<%= render_fluo_foot(params[:wfid], nil, workitems.collect { |wi| wi.fei.expid }) if params[:wfid] %>

